.local/
eshell/
recentf

auto-save-list/
smex-items

# compiled files
*.elc
*.lib
*.fas
*.dat
*.eld

# transient/os temp files
*.cache-*
*.log
.directory

bookmarks
server/

# ignore straight repos
straight/
transient/
custom.el

# ignore yas compile file
.yas-compiled-snippets.el